/target
/wav
/pkg
*.song
Cargo.lock
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.production
/frontend/.env.test
/frontend/.cache
/frontend/.history
/frontend/.yarn
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn-integrity
/frontend/yarn-error.log
/frontend/yarn.lock
/frontend/.yarnrc
/frontend/.npmrc
/frontend/.nvmrc
/frontend/.tern-project
/frontend/.gitattributes
/frontend/.editorconfig
/frontend/.eslintrc
/frontend/.eslintignore
/frontend/.stylelintrc
/frontend/.stylelintignore
/frontend/.prettierrc
/frontend/.prettierignore
/frontend/.vscode
/frontend/.github
/frontend/.idea
/frontend/.vscode
/frontend/.DS_Store
/frontend/Thumbs.db
/frontend/desktop.ini
/frontend/.git
/frontend/package-lock.json
/wav/*.wav
/wav/*.mp3