/* 主要装饰 */
:root {
  --pixel-primary: #eee;
  --pixel-secondary: #000;
  --pixel-background: #bbb;
  --pixel-border: #555;
  --pixel-text: #000;
  --pixel-disabled: #555;
  --pixel-highlight: #ffffff;
  --pixel-ghost: #bbb;
}
* {
  user-select: none !important;
  -webkit-user-select: none !important;
}

input,
textarea,
[contenteditable="true"] {
  user-select: auto !important;
  -webkit-user-select: auto !important;
}

.c-label {
  position: absolute;
  font-size: 15px;
  color: #888;
  user-select: none;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 1;
  padding: 20px;
  background: var(--pixel-background);
  overflow: hidden;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
td {
  background-color: #fff;
}
/* 滚动条整体样式 */
::-webkit-scrollbar {
  width: 20px;  /* 默认宽度从16px缩减50%[1,6](@ref) */
  height: 20px; /* 水平滚动条高度 */
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #888;
  border:
    2px solid,
    #eee;
}

/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: #eee; /* 浅灰轨道提升对比度[2](@ref) */
}
